* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px;
  color: white;
  background-color: #a2ca28;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Header, yes you can, first page */

.header {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/bgFirst.png');
  
  /* background: linear-gradient(175deg, rgba(0,0,200,0) 20%, rgba(0,0,200,0) 82%, rgba(0,0,200,0.5) 82%, rgba(0,0,200,0.5) 100%),
              url('../images/bgFirst.png'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2em;
  /* position: relative;
  overflow: hidden; */
}

/* .header:before {
  content: '';
  position: absolute;
  display: block;
  background: #fd634e;
  opacity: .3;
  bottom: -100px;
  left: -100px;
  right: -10px;
  height: 170px;
  transform: rotate(-2deg);
} */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  list-style-type: none;
  padding: 1em;
}

.header__menu li a {
  font-family: 'Nunito', sans-serif;
  padding: 1em;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  font-family: "Avenir Next Rounded Std - Med";
  font-size: 1.4em;
}

.header h1 {
  position: absolute;
  bottom: 20%;
  left: 5%;
  font-size: 3vw;
  font-weight: 200;
}

.header h1:after {
  content: '/';
  font-weight: 800;
  color: #a2ca28;
}

.header p {
  position: absolute;
  letter-spacing: 3px;
  bottom: 17%;
  left: 18%;
  font-size: 1.2vw;
  font-weight: 200;
}

.header p:after {
  content: '/';
  font-weight: 800;
  color: #fd634e;
}

/* Resources, training, connect, communicate */

.resources article {  
  width: 25%;
  padding: 30px 30px 30px 0;
  position: relative;
}

.resources article img {
  height: 4em;
}

.resources article h2 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
}

.resources article p {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.resources article a {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-family: "Proxima Nova";
}

@media (max-width: 900px) {
  .resources article {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .resources article {
    width: 100%;
  }
}

/* Information section  */

.blocks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.blocks__text {
  width: 33%;
  background-color: white;
  text-align: center;
  padding: 40px;
}

.blocks__text h1 {
  color: #fd634e;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.blocks__text h2 {
  color: #a2ca28;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 30px;
  padding: 10px;
}

.blocks__text p {
  color: #656e74;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.blocks__text img {
  padding: 10px;
}

.blocks__text a {
  color: #a2ca28;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.blocks__image {
  width: 67%;
  background-size: 100% 100%;
}

.blocks__bg1 {
  background-image: url('../images/fitnessFirst.png');
}


.blocks__image p {
  color: #f7614c;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 15px;
}

.blocks__users {
  margin: 250px 50px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.blocks__users p span {
  color: white;
}

@media (max-width: 768px) {
  .blocks__text {
    width: 100%;
  }
  .blocks__image {
    width: 100%;
    /* height: 100%; */
  }
}

.blocks2 {
  flex-wrap: wrap-reverse;
}

.blocks__bg2 {
  background-image: url('../images/yourBody.png');
}

.blocks__users2 {
  margin-left: 50px;
  justify-content: flex-start;
}

.blocks__users2 p{
  color: white;
}

/* Blocks with red background  */

.blocks__redBg {
  background-color: #fd634e;
}

.blocks__text2 {
  width: 33%;
  background-image: url('../images/block3rd.png');
  background-size: 100% 100%;
}

.blocks__image2 {
  background-image: url('../images/block3rd2.png');
}

.blocks__users2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}