* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px;
  color: white;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Header, yes you can, first page */

.header {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
    background: linear-gradient(178deg, rgba(255,127,80, 0) 15%, rgba(255,127,80, 0) 90%, rgba(255,127,80, 0.3) 90%, rgba(255,127,80, 0.3) 100%),
              url('../images/bgFirst.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2em;

}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.header h1 {
  position: absolute;
  bottom: 20%;
  left: 5%;
  font-size: 3vw;
  font-weight: 200;
}

.header h1:after {
  content: '/';
  font-weight: 800;
  color: #a2ca28;
}

.header p {
  position: absolute;
  letter-spacing: 3px;
  bottom: 17%;
  left: 18%;
  font-size: 1.2vw;
  font-weight: 200;
}

.header p:after {
  content: '/';
  font-weight: 800;
  color: #fd634e;
}

/* Resources, training, connect, communicate */

.info {
  background-color: #a2ca28;
}

.resources article {  
  width: 25%;
  padding: 30px 30px 30px 0;
  position: relative;
}

.resources article img {
  height: 4em;
}

.resources article h2 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
}

.resources article p {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.resources article a {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-family: "Proxima Nova";
}


/* Information section  */

.blocks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.blocks__text {
  width: 33%;
  /* height: 100%; */
  background-color: white;
  text-align: center;
  padding: 40px;
}

.blocks__text h1 {
  color: #fd634e;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.blocks__text h2 {
  color: #a2ca28;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 30px;
  padding: 10px;
}

.blocks__text p {
  color: #656e74;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
}

.blocks__text img {
  padding: 10px;
}

.blocks__text a {
  color: #a2ca28;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.blocks__image {
  width: 67%;
  background-size: 100% 100%;
}

.blocks__bg1 {
  background-image: url('../images/fitnessFirst.png');
}


.blocks__image p {
  color: #f7614c;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 15px;
}

.blocks__users {
  position: relative;
  height: 100%;
}

.blocks__users p{
  position: absolute;
  bottom: 20%; 
  right: 10%;
}

.blocks__users img{
  position: absolute;
  bottom: 20%; 
  right: 8%;
}

.blocks__users p span {
  color: white;
}


.blocks2 {
  flex-wrap: wrap-reverse;
}

.blocks__bg2 {
  background-image: url('../images/yourBody.png');
}

.blocks__bg2 p{
  color: white;
}


/* Blocks with red background  */

.blocks__redBg {
  background-color: #fd634e;
}

.blocks__text2 {
  width: 33%;
}

.blocks__text2 img{
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.blocks__image2 {
  background-image: url('../images/block3rd2.png');
}

.blocks__users2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.blocks__users2 figure {
  display: flex;
}

.blocks__users2 figure h1 {
  margin-right: 10px;
}

.text3 {
  /* height: 100%; */
  background-color: white;
  text-align: inherit;
  /* padding: 60px 40px 60px 40px; */
}

.text3__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text3__icon img {
  position: relative;
}

.text3__icon h2 {
  padding: 10px 0 0 0;
}

.text3 p {
  margin-top: 30px;
}

.blocks__text--green {
  width: 67%;
  background-color: #a2ca28;
  box-shadow: 0 0 62px rgba(0, 0, 0, 0.3);
}

.text__green {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
}

.text__green h1 {
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 30px;
  
}

.text__green p {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  width: 612px;
}

.blocks__fruits {
  width: 100%;
  max-height: 270px;
  display: flex;
}

.involved {
  width: 67%;
  text-align: inherit;
}

.eating {
  background-color: #a2ca28 ;
}

.eating h1{
  color: white;
}

.eating h2{
  color: white;
}

.eating p{
  color: white;
}

/* Standing man section */

.standingMan {
  margin:0;
  height:80vh;
  background:
    linear-gradient(to bottom left, transparent 49%,#ff7f50 50.5%)  bottom/100% 20px,
    linear-gradient(to bottom left, transparent 49%,#000 50.5%)  0% calc(100% - 50px)/50% 40px,
    linear-gradient(to bottom right, transparent 49%,#000 50.5%)  100% calc(100% - 50px)/50% 40px,
    linear-gradient(#000,#000) bottom/100% 50px,
    url(https://i.imgur.com/C0Wqb0o.jpg) center/cover;
  background-repeat:no-repeat;
}

.standing {
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.standing h1 {
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.45px;
  margin: 0 20px 40px 50px;
}

.standing p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.16px;
  width: 50%;
}

/* Footer section  */


.footer article {  
  width: 25%;
  margin: 50px 50px 50px 50px;
  position: relative;
}

.footer h2 {
  color: #bcd7ec;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 1.4em;
}

.footer p {
  color: #8297a7;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer img {
  padding: 0 2em 1em 0;
}

.contact {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 150px;
}

.contact input {
  height: 45px;
  border-radius: 2px;
  background-color: #ffffff;
  margin-right: 5px;
  padding: 1em;
  color: #83969f;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
}

.contact input:nth-child(1) {
  width: 201px;
  
}

.contact input:nth-child(2) {
  width: 340px;
}

.contact button {
  width: 182px;
  height: 45px;
  border-radius: 3px;
  background-color: #a2ca28;
  color: white;
  font-family: "Proxima Nova - Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 900px) {
  .resources article {
    width: 50%;
  }

}

@media (max-width: 768px) {
  .resources article {
    width: 100%;
  }

  .blocks__text {
    width: 100%;
  }
  .blocks__image {
    width: 100%;
    height: 30em;
  }
  .blocks__text2 img{
    display: none;
  }
  .blocks__text--green {
    width: 100%;
  }

  .footer article {
    width: 70%;
  }

}
